.dark-theme {
  --header-bg-img: url("../../images/bg-desktop-dark.jpg");
  --main-bg-clr: hsl(235, 21%, 11%);
  --todo-bg-clr: hsl(235, 24%, 19%);
  --border-clr: hsl(233, 14%, 35%);
  --text-pri: hsl(234, 39%, 85%);
  --text-sec: hsl(234, 11%, 52%);
}

.light-theme {
  --header-bg-img: url("../../images/bg-desktop-light.jpg");
  --main-bg-clr: hsl(236, 33%, 92%);
  --todo-bg-clr: hsl(0, 0%, 98%);
  --border-clr: hsl(233, 11%, 84%);
  --text-pri: hsl(235, 19%, 35%);
  --text-sec: hsl(236, 9%, 61%);
}
