@use "custom" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    --header-bg-img: url("../../images/bg-desktop-dark.jpg");
    --main-bg-clr: hsl(235, 21%, 11%);
    --todo-bg-clr: hsl(235, 24%, 19%);
    --border-clr: hsl(233, 14%, 35%);
    --text-pri: hsl(234, 39%, 85%);
    --text-sec: hsl(234, 11%, 52%);
  }
}
@media (prefers-color-scheme: light) {
  body {
    --header-bg-img: url("../../images/bg-desktop-light.jpg");
    --main-bg-clr: hsl(236, 33%, 92%);
    --todo-bg-clr: hsl(0, 0%, 98%);
    --border-clr: hsl(233, 11%, 84%);
    --text-pri: hsl(235, 19%, 35%);
    --text-sec: hsl(236, 9%, 61%);
  }
}

:root {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  @include media-breakpoint-down {
    font-size: 14px;
  }
}

li {
  list-style: none;
}

body {
  position: relative;
}

header {
  background-image: var(--header-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
}

.header {
  padding-top: 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 20rem;
  h1 {
    letter-spacing: 1rem;
    color: hsl(0, 0%, 100%);
  }
}

.theme-swicher {
  $size: 25px;
  width: $size;
  height: $size;
  //
  cursor: pointer;
}

main {
  color: var(--text-pri);
  background-color: var(--main-bg-clr);
  font-weight: 500;
  min-height: calc(100vh - 20rem);
  @include transition;
}

.completed {
  text-decoration: line-through;
  color: var(--text-sec);
}

.circle,
.check {
  $size: 25px;
  height: $size;
  width: $size;
  position: relative;
  appearance: none;
  background-color: transparent;

  border-radius: 50%;
}

.todo-section {
  transform: translateY(-10rem);

  form {
    margin-bottom: 2rem;
    background-color: var(--todo-bg-clr);
    border-radius: 10px;
    user-select: none;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 40px;
    gap: 0.6rem;
    align-items: center;
    padding: 1rem;

    @include transition;

    .circle {
      pointer-events: none;
      margin-left: 0.8rem;
      border: 2px solid var(--border-clr);
      justify-self: center;
    }
    input {
      color: var(--text-pri);
      font-weight: 500;
      font-size: 1rem;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

.todo-element-container {
  background-color: var(--todo-bg-clr);
  border-radius: 10px;
  @include transition;
}

.todo-element {
  opacity: 1;
  transition: opacity 250ms;
  user-select: none;
  display: grid;
  $size: 60px;
  grid-template-columns: $size 1fr $size;
  grid-template-rows: 40px;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--text-sec);

  .task {
    cursor: pointer;
    font-weight: 600;
    &:hover {
      color: var(--text-hover);
    }
  }
  .check,
  .delete {
    justify-self: center;
    cursor: pointer;
  }
  .check {
    border: 2px solid var(--border-clr);
    border-radius: 50%;
    &::before {
      content: url(../../images/icon-check.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      display: none;
    }
    &:checked {
      @include checked-gradient;
      border: none;
      &::before {
        display: block;
      }
    }
  }
  &:hover > .delete {
    opacity: 1;
  }
  .delete {
    opacity: 0;
    filter: none;
    transition: opacity 300ms, filter 300ms;
    &:hover {
      filter: invert(75%);
    }
    @include media-breakpoint-down {
      opacity: 1;
    }
  }
}

.todo-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  span,
  li {
    cursor: pointer;
    transition: 200ms color;
    &:hover {
      color: var(--text-hover);
    }
  }
  .todo-filter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    user-select: none;
    @include media-breakpoint-down {
      top: 6rem;
      background-color: var(--todo-bg-clr);
      margin: 0 auto;
      padding: 1.5rem 2rem;
      width: 100%;
      border-radius: 10px;
    }
    .filter {
      display: none;
    }
    .filter:checked + .filter-label {
      color: hsl(220, 98%, 61%);
    }
    .filter-label {
      cursor: pointer;
    }
  }
}
