@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap");
.dark-theme {
  --header-bg-img: url("../../images/bg-desktop-dark.jpg");
  --main-bg-clr: hsl(235, 21%, 11%);
  --todo-bg-clr: hsl(235, 24%, 19%);
  --border-clr: hsl(233, 14%, 35%);
  --text-pri: hsl(234, 39%, 85%);
  --text-sec: hsl(234, 11%, 52%);
}

.light-theme {
  --header-bg-img: url("../../images/bg-desktop-light.jpg");
  --main-bg-clr: hsl(236, 33%, 92%);
  --todo-bg-clr: hsl(0, 0%, 98%);
  --border-clr: hsl(233, 11%, 84%);
  --text-pri: hsl(235, 19%, 35%);
  --text-sec: hsl(236, 9%, 61%);
}

.active {
  color: #3a7bfd;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 789px) {
  .container {
    max-width: 700px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    --header-bg-img: url("../../images/bg-desktop-dark.jpg");
    --main-bg-clr: hsl(235, 21%, 11%);
    --todo-bg-clr: hsl(235, 24%, 19%);
    --border-clr: hsl(233, 14%, 35%);
    --text-pri: hsl(234, 39%, 85%);
    --text-sec: hsl(234, 11%, 52%);
  }
}
@media (prefers-color-scheme: light) {
  body {
    --header-bg-img: url("../../images/bg-desktop-light.jpg");
    --main-bg-clr: hsl(236, 33%, 92%);
    --todo-bg-clr: hsl(0, 0%, 98%);
    --border-clr: hsl(233, 11%, 84%);
    --text-pri: hsl(235, 19%, 35%);
    --text-sec: hsl(236, 9%, 61%);
  }
}
:root {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}
@media (max-width: 789px) {
  :root {
    font-size: 14px;
  }
}

li {
  list-style: none;
}

body {
  position: relative;
}

header {
  background-image: var(--header-bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
}

.header {
  padding-top: 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 20rem;
}
.header h1 {
  letter-spacing: 1rem;
  color: white;
}

.theme-swicher {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

main {
  color: var(--text-pri);
  background-color: var(--main-bg-clr);
  font-weight: 500;
  min-height: calc(100vh - 20rem);
  transition: background-color 200ms, color 200ms;
}

.completed {
  text-decoration: line-through;
  color: var(--text-sec);
}

.circle,
.check {
  height: 25px;
  width: 25px;
  position: relative;
  appearance: none;
  background-color: transparent;
  border-radius: 50%;
}

.circle {
  pointer-events: none;
}

.todo-section {
  transform: translateY(-10rem);
}
.todo-section form {
  margin-bottom: 2rem;
  background-color: var(--todo-bg-clr);
  border-radius: 10px;
  user-select: none;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 40px;
  align-items: center;
  padding: 1rem;
  transition: background-color 200ms, color 200ms;
}
.todo-section form .circle {
  margin-left: 0.8rem;
  border: 2px solid var(--border-clr);
}
.todo-section form input {
  color: var(--text-pri);
  font-weight: 500;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 0.6rem;
}

.todo-element-container {
  background-color: var(--todo-bg-clr);
  border-radius: 10px;
  transition: background-color 200ms, color 200ms;
}

.todo-element {
  opacity: 1;
  transition: opacity 250ms;
  user-select: none;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: 40px;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--text-sec);
}
.todo-element .task {
  cursor: pointer;
  font-weight: 600;
}
.todo-element .task:hover {
  color: var(--text-hover);
}
.todo-element .check,
.todo-element .delete {
  justify-self: center;
  cursor: pointer;
}
.todo-element .check {
  border: 2px solid var(--border-clr);
  border-radius: 50%;
}
.todo-element .check::before {
  content: url(../../images/icon-check.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: none;
}
.todo-element .check:checked {
  background: linear-gradient(145deg, #57ddff, #c058f3);
  border: none;
}
.todo-element .check:checked::before {
  display: block;
}
.todo-element:hover > .delete {
  opacity: 1;
}
.todo-element .delete {
  appearance: none;
  border: none;
  background-color: transparent;
  width: 25px;
  font-size: 2.5rem;
  color: var(--text-sec);
  opacity: 0;
  transition: color 150ms, opacity 300ms;
}
.todo-element .delete:hover {
  color: var(--text-pri);
}
@media (max-width: 789px) {
  .todo-element .delete {
    opacity: 1;
  }
}
.todo-element.deleted {
  opacity: 0;
}

.todo-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}
.todo-footer span,
.todo-footer li {
  cursor: pointer;
  transition: 200ms color;
}
.todo-footer span:hover,
.todo-footer li:hover {
  color: var(--text-hover);
}
.todo-footer .todo-filter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  user-select: none;
}
@media (max-width: 789px) {
  .todo-footer .todo-filter {
    top: 6rem;
    background-color: var(--todo-bg-clr);
    margin: 0 auto;
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 10px;
  }
}
.todo-footer .todo-filter input[type=radio] {
  display: none;
}
.todo-footer .todo-filter input[type=radio]:checked + .filter {
  color: #3a7bfd;
}
.todo-footer .todo-filter .filter {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
